.results-table {
  text-align: left;
  background: #424242;
  margin: 24px 0;
  border-radius: 4px;
  border-spacing: 0px;
  border-collapse: collapse;

  min-width: 600px;
  width: fit-content;
  margin: auto;

  &-head {
    font-size: 12px;
    height: 30px;
    font-weight: 500;
    color: hsla(0, 0%, 100%, 0.7);

    th {
      padding-left: 15px;
      padding-right: 15px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: hsla(0, 0%, 100%, 0.12);
    }
  }
  &-body {
    height: 30px;
    color: white;
    font-size: 15px;

    &:hover {
      background: hsla(0, 0%, 100%, 0.12);
    }

    td {
      padding-left: 15px;
      padding-right: 15px;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: hsla(0, 0%, 100%, 0.12);
    }
  }
  .hover {
    background: hsla(0, 0%, 100%, 0.12);

    td {
      border-bottom-color: transparent;
    }
  }
}

.rank-background-color {
  align-items: center;
  display: flex;
  gap: 4px;
  color: white;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.results-scroll {
  min-height: 60px;
  border-radius: 4px;
  overflow-x: auto;
}

span.mini {
  font-size: 10px;
  height: 30px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

.filter {
  display: flex;
  align-self: center;

  &-name {
    height: 13px;
    margin: auto;
  }
  mat-icon {
    font-size: 17px;
    width: 17px;
    height: 17px;
  }

  ::ng-deep mat-form-field {
    .mat-form-field-wrapper {
      padding: 0;
      .mat-form-field-flex {
        height: 17px;
        width: 17px;

        .mat-form-field-infix {
          height: 17px;
        }
      }

      .mat-form-field-underline, .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .mat-select {
    ::ng-deep .mat-select-arrow {
      //border: unset;
      display: none;
    }
  }
}
