<app-navbar></app-navbar>
<div class="container">
  <div class="content">
    <div class="header">
      <div class="header-left">
        <h1>Создание теста</h1>
      </div>
      <div class="flex-row" style="display: flex; gap: 0px">
        <div class="flex-row-item">
          <button
            mat-icon-button
            aria-label="Создать тест"
            matTooltip="Создать тест"
            (click)="onSubmit()"
            [disabled]="testCreate.invalid || testCreate.disabled"
          >
            <mat-icon>save</mat-icon>
          </button>
        </div>
        <div class="flex-row-item">
          <button
            (click)="location.back()"
            mat-icon-button
            aria-label="Назад"
            matTooltip="Назад"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <form [formGroup]="testCreate">
      <mat-card>
        <mat-card-content>
          <p>
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Название</mat-label>
              <input
                matInput
                placeholder="Физические тела и вещества"
                required
                formControlName="title"
                minlength="1"
                maxlength="64"
              />
              <mat-error *ngIf="testCreate.controls['title'].invalid">{{
                getErrorMessage(testCreate.controls["title"])
              }}</mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="field" appearance="outline" color="accent">
              <mat-label>Описание</mat-label>
              <textarea
                matInput
                #description
                formControlName="description"
                maxlength="4096"
              ></textarea>
              <mat-hint align="end"
                >{{ description.value?.length || 0 }}/4096</mat-hint
              >
              <mat-error *ngIf="testCreate.controls['description'].invalid">{{
                getErrorMessage(testCreate.controls["description"])
              }}</mat-error>
            </mat-form-field>
          </p>
          <div class="flex-row">
            <div class="flex-row-item">
              <p>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Количество попыток</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="2"
                    formControlName="attemptsNumber"
                    min="1"
                  />
                  <mat-error
                    *ngIf="testCreate.controls['attemptsNumber'].invalid"
                    >{{
                      getErrorMessage(testCreate.controls["attemptsNumber"])
                    }}</mat-error
                  >
                </mat-form-field>
              </p>
            </div>
            <div class="flex-row-item">
              <p>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Итогивый балл</mat-label>
                  <mat-select formControlName="finalResultCalculationMethod">
                    <mat-option [value]="0">Средний от всех попыток</mat-option>
                    <mat-option [value]="1"
                      >Максимальный от всех попыток</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </p>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-row-item">
              <p>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Дата начала тестирования</mat-label>
                  <input
                    matInput
                    [ngxMatDatetimePicker]="pickerActivation"
                    [min]="now"
                    placeholder=""
                    formControlName="activationDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerActivation"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker
                    #pickerActivation
                  ></ngx-mat-datetime-picker>
                </mat-form-field>
              </p>
            </div>
            <div class="flex-row-item">
              <p>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Дата окончания тестирования</mat-label>
                  <input
                    matInput
                    [ngxMatDatetimePicker]="pickerDeactivation"
                    [min]="now"
                    placeholder=""
                    formControlName="deactivationDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="pickerDeactivation"
                  ></mat-datepicker-toggle>
                  <ngx-mat-datetime-picker
                    #pickerDeactivation
                  ></ngx-mat-datetime-picker>
                </mat-form-field>
              </p>
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-row-item">
              <p>
                <mat-slide-toggle
                  [checked]="testCreate.value.timeLimit != 0"
                  (change)="timeLimitChange()"
                  >Ограничивать время</mat-slide-toggle
                >
              </p>
            </div>
            <div class="flex-row-item" *ngIf="testCreate.value.timeLimit != 0">
              <p>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Ограничение времени</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="60"
                    formControlName="timeLimit"
                    min="1"
                  />
                  <span matSuffix>мин.</span>
                  <mat-error *ngIf="testCreate.controls['timeLimit'].invalid">{{
                    getErrorMessage(testCreate.controls["timeLimit"])
                  }}</mat-error>
                </mat-form-field>
              </p>
            </div>
          </div>
          <div class="flex-row">
            <div class="flex-row-item">
              <p>
                <mat-slide-toggle formControlName="isActive"
                  >Тест активирован</mat-slide-toggle
                >
              </p>
            </div>
            <div class="flex-row-item">
              <p>
                <mat-slide-toggle formControlName="shuffle"
                  >Перемешивать разделы</mat-slide-toggle
                >
              </p>
            </div>
          </div>

          <div class="flex-row">
            <div class="flex-row-item">
              <p>
                <mat-slide-toggle formControlName="showAllSections"
                  >Выводить все разделы</mat-slide-toggle
                >
              </p>
            </div>
            <div
              class="flex-row-item"
              *ngIf="!testCreate.value.showAllSections"
            >
              <p>
                <mat-form-field appearance="outline" color="accent">
                  <mat-label>Количество выводимых разделов</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="2"
                    formControlName="attemptSectionsNumber"
                    min="1"
                    (input)="
                      setShowAllSections(
                        testCreate.controls.attemptSectionsNumber,
                        testCreate.controls.showAllSections
                      )
                    "
                  />
                  <mat-error
                    *ngIf="testCreate.controls['attemptSectionsNumber'].invalid"
                    >{{
                      getErrorMessage(
                        testCreate.controls["attemptSectionsNumber"]
                      )
                    }}</mat-error
                  >
                </mat-form-field>
              </p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-title>Документы</mat-card-title>
        <mat-card-content>
          <mat-hint>
            Добавляйте ссылки на учебники, методички и прочие документы,
            используемые при создании или нужные для прохождения данного теста
          </mat-hint>
          <div
            formArrayName="documents"
            *ngFor="let document of documents.controls; index as i"
          >
            <div class="field-wrapper">
              <div [formGroupName]="i">
                <div class="field-wrapper-body">
                  <div class="flex-row">
                    <div class="flex-row-item">
                      <mat-form-field appearance="outline" color="accent">
                        <mat-label>Заголовок</mat-label>
                        <input
                          matInput
                          formControlName="title"
                          placeholder="лялялляляял"
                          required
                        />
                        <mat-error *ngIf="document.controls['title'].invalid">{{
                          getErrorMessage(document.controls["title"])
                        }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="flex-row-item">
                      <mat-form-field appearance="outline" color="accent">
                        <mat-label>Ссылка</mat-label>
                        <input
                          matInput
                          formControlName="link"
                          placeholder="Ссылка"
                          required
                        />
                        <mat-icon
                          matSuffix
                          matTooltip="Удалить документ"
                          (click)="deleteDucument(i)"
                          class="pointer"
                          >delete</mat-icon
                        >
                        <mat-error *ngIf="document.controls['link'].invalid">{{
                          getErrorMessage(document.controls["link"])
                        }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <button mat-button (click)="addDocument()">
              Добавить документ
            </button>
          </p>
        </mat-card-content>

        <mat-card-title>Шкала оценки</mat-card-title>
        <mat-card-content>
          <mat-hint>
            Добавляйте свою шкалу оценок. Например оценка "Хорошо" будет от 50
            баллов, а "Отлично" от 75.
          </mat-hint>
          <div
            formArrayName="ranks"
            *ngFor="let rank of ranks.controls; index as i"
          >
            <div class="field-wrapper">
              <div [formGroupName]="i">
                <div class="field-wrapper-body">
                  <div class="flex-row">
                    <div class="flex-row-item">
                      <mat-form-field appearance="outline" color="accent">
                        <mat-label>Название оценки</mat-label>
                        <input
                          matInput
                          formControlName="title"
                          placeholder="Да ты красава"
                          required
                        />
                        <input
                          hidden
                          [ngxMatColorPicker]="colorPicker"
                          formControlName="color"
                        />
                        <ngx-mat-color-toggle
                          matSuffix
                          [for]="colorPicker"
                        ></ngx-mat-color-toggle>
                        <ngx-mat-color-picker
                          #colorPicker
                          color="accent"
                        ></ngx-mat-color-picker>
                        <mat-error *ngIf="rank.controls['title'].invalid">{{
                          getErrorMessage(rank.controls["title"])
                        }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="flex-row-item">
                      <mat-form-field appearance="outline" color="accent">
                        <mat-label>Баллы</mat-label>
                        <input
                          matInput
                          formControlName="minimumScore"
                          placeholder="10"
                          required
                        />
                        <mat-icon
                          matSuffix
                          matTooltip="Удалить шкалу"
                          (click)="deleteRank(i)"
                          class="pointer"
                          >delete</mat-icon
                        >
                        <mat-error
                          *ngIf="rank.controls['minimumScore'].invalid"
                          >{{
                            getErrorMessage(rank.controls["minimumScore"])
                          }}</mat-error
                        >
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">
            <button mat-button (click)="addRank()">Добавить шкалу</button>
          </p>
        </mat-card-content>
      </mat-card>
      <p class="text-center">
        <button
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
          [disabled]="testCreate.invalid || testCreate.disabled"
        >
          Создать тест
        </button>
      </p>
    </form>
  </div>
</div>
