<app-navbar></app-navbar>
fgdfg
<div class="container">
  <div class="content">
    <ng-container *ngIf="test; else loading">
      <div class="header">
        <div class="header-left">
          <h1>Изменение теста</h1>
        </div>
        <div class="header-right" style="width: 80px">
          <div class="flex-row" style="display: flex; gap: 0px">
            <div class="flex-row-item">
              <button
                mat-icon-button
                aria-label="Сохранить тест"
                matTooltip="Сохранить тест"
                (click)="onTestSubmit()"
                [disabled]="
                  testEdit.invalid || testEdit.disabled || !testEdit.dirty
                "
              >
                <mat-icon>save</mat-icon>
              </button>
            </div>
            <div class="flex-row-item">
              <button
                routerLink="../../../tests"
                mat-icon-button
                aria-label="Назад"
                matTooltip="Назад"
              >
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="testEdit">
        <mat-card>
          <mat-card-content>
            <p>
              <mat-form-field appearance="outline" color="accent">
                <mat-label>Название</mat-label>
                <input
                  matInput
                  placeholder="Физические тела и вещества"
                  required
                  formControlName="title"
                  minlength="1"
                  maxlength="64"
                />
                <mat-error *ngIf="testEdit.controls['title'].invalid">{{
                  getErrorMessage(testEdit.controls["title"])
                }}</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="field" appearance="outline" color="accent">
                <mat-label>Описание</mat-label>
                <textarea
                  matInput
                  #description
                  formControlName="description"
                  maxlength="4096"
                ></textarea>
                <mat-hint align="end"
                  >{{ description.value?.length || 0 }}/4096</mat-hint
                >
                <mat-error *ngIf="testEdit.controls['description'].invalid">{{
                  getErrorMessage(testEdit.controls["description"])
                }}</mat-error>
              </mat-form-field>
            </p>
            <div class="flex-row">
              <div class="flex-row-item">
                <p>
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>Количество попыток</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="2"
                      formControlName="attemptsNumber"
                      min="1"
                    />
                    <mat-error
                      *ngIf="testEdit.controls['attemptsNumber'].invalid"
                      >{{
                        getErrorMessage(testEdit.controls["attemptsNumber"])
                      }}</mat-error
                    >
                  </mat-form-field>
                </p>
              </div>
              <div class="flex-row-item">
                <p>
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>Итогивый балл</mat-label>
                    <mat-select formControlName="finalResultCalculationMethod">
                      <mat-option [value]="0"
                        >Средний от всех попыток</mat-option
                      >
                      <mat-option [value]="1"
                        >Максимальный от всех попыток</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </p>
              </div>
            </div>

            <div class="flex-row">
              <div class="flex-row-item">
                <p>
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>Дата начала тестирования</mat-label>
                    <input
                      matInput
                      [ngxMatDatetimePicker]="pickerActivation"
                      [min]="now"
                      placeholder=""
                      formControlName="activationDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerActivation"
                    ></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker
                      #pickerActivation
                    ></ngx-mat-datetime-picker>
                  </mat-form-field>
                </p>
              </div>
              <div class="flex-row-item">
                <p>
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>Дата окончания тестирования</mat-label>
                    <input
                      matInput
                      [ngxMatDatetimePicker]="pickerDeactivation"
                      [min]="now"
                      placeholder=""
                      formControlName="deactivationDate"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="pickerDeactivation"
                    ></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker
                      #pickerDeactivation
                    ></ngx-mat-datetime-picker>
                  </mat-form-field>
                </p>
              </div>
            </div>
            <div class="flex-row">
              <div class="flex-row-item">
                <p>
                  <mat-slide-toggle formControlName="isActive"
                    >Тест активирован</mat-slide-toggle
                  >
                </p>
              </div>
              <div class="flex-row-item">
                <p>
                  <mat-slide-toggle formControlName="shuffle"
                    >Перемешивать разделы</mat-slide-toggle
                  >
                </p>
              </div>
            </div>

            <div class="flex-row">
              <div class="flex-row-item">
                <p>
                  <mat-slide-toggle formControlName="showAllSections"
                    >Выводить все вопросы</mat-slide-toggle
                  >
                </p>
              </div>
              <div
                class="flex-row-item"
                *ngIf="!sections.value.showAllSections"
              >
                <p>
                  <mat-form-field appearance="outline" color="accent">
                    <mat-label>Количество выводимых вопросов</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="2"
                      formControlName="attemptSectionsNumber"
                      min="1"
                      (input)="
                        setShowAll(
                          testEdit.controls.attemptSectionsNumber,
                          testEdit.controls.showAllSections
                        )
                      "
                    />
                    <mat-error
                      *ngIf="testEdit.controls['attemptSectionsNumber'].invalid"
                      >{{
                        getErrorMessage(
                          testEdit.controls["attemptSectionsNumber"]
                        )
                      }}</mat-error
                    >
                  </mat-form-field>
                </p>
              </div>
            </div>
          </mat-card-content>
          <mat-card-title>Документы</mat-card-title>
          <mat-card-content>
            <mat-hint>
              Добавляйте ссылки на учебники, методички и прочие документы,
              используемые при создании или нужные для прохождения данного теста
            </mat-hint>
            <div
              formArrayName="documents"
              *ngFor="let document of documents.controls; index as i"
            >
              <div class="field-wrapper">
                <div [formGroupName]="i">
                  <div class="field-wrapper-body">
                    <div class="flex-row">
                      <div class="flex-row-item">
                        <mat-form-field appearance="outline" color="accent">
                          <mat-label>Заголовок</mat-label>
                          <input
                            matInput
                            formControlName="title"
                            placeholder="лялялляляял"
                            required
                          />
                          <mat-error
                            *ngIf="document.controls['title'].invalid"
                            >{{
                              getErrorMessage(document.controls["title"])
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                      <div class="flex-row-item">
                        <mat-form-field appearance="outline" color="accent">
                          <mat-label>Ссылка</mat-label>
                          <input
                            matInput
                            formControlName="link"
                            placeholder="Ссылка"
                            required
                          />
                          <mat-icon
                            matSuffix
                            matTooltip="Удалить документ"
                            (click)="deleteDucument(i)"
                            class="pointer"
                            >delete</mat-icon
                          >
                          <mat-error
                            *ngIf="document.controls['link'].invalid"
                            >{{
                              getErrorMessage(document.controls["link"])
                            }}</mat-error
                          >
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center">
              <button mat-button (click)="addDocument()">
                Добавить документ
              </button>
            </p>
          </mat-card-content>

          <mat-card-title>Шкала оценки</mat-card-title>
          <mat-card-content>
            <mat-hint>
              Добавляйте свою шкалу оценок. Например оценка "Хорошо" будет от 50
              баллов, а "Отлично" от 75.
            </mat-hint>
            <div
              formArrayName="ranks"
              *ngFor="let rank of ranks.controls; index as i"
            >
              <div class="field-wrapper">
                <div [formGroupName]="i">
                  <div class="field-wrapper-body">
                    <div class="flex-row">
                      <div class="flex-row-item">
                        <mat-form-field appearance="outline" color="accent">
                          <mat-label>Название оценки</mat-label>
                          <input
                            matInput
                            formControlName="title"
                            placeholder="Отлично"
                            required
                          />
                          <input hidden [ngxMatColorPicker]="colorPicker" formControlName="color">
                          <ngx-mat-color-toggle matSuffix [for]="colorPicker"></ngx-mat-color-toggle>
                          <ngx-mat-color-picker #colorPicker color="accent"></ngx-mat-color-picker>
                          <mat-error *ngIf="rank.controls['title'].invalid">{{
                            getErrorMessage(rank.controls["title"])
                          }}</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="flex-row-item">
                        <mat-form-field appearance="outline" color="accent">
                          <mat-label>Баллы</mat-label>
                          <input
                            matInput
                            formControlName="minimumScore"
                            type="number"
                            placeholder="10"
                            required
                          />
                          <mat-icon
                            matSuffix
                            matTooltip="Удалить шкалу"
                            (click)="deleteRank(i)"
                            class="pointer"
                            >delete</mat-icon
                          >
                          <mat-error *ngIf="rank.controls['minimumScore'].invalid">{{
                            getErrorMessage(rank.controls["minimumScore"])
                          }}</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <p class="text-center">
              <button mat-button (click)="addRank()">
                Добавить шкалу
              </button>
            </p>
          </mat-card-content>
        </mat-card>
        <p class="text-center">
          <button
            mat-raised-button
            color="primary"
            (click)="onTestSubmit()"
            [disabled]="
              testEdit.invalid || testEdit.disabled || !testEdit.dirty
            "
          >
            Сохранить тест
          </button>
        </p>
      </form>
      <div class="mat-divider"></div>
      <div class="header">
        <div class="header-left">
          <h1>Разделы</h1>
        </div>
        <div class="header-right" style="width: 80px">
          <div class="flex-row" style="display: flex; gap: 0px">
            <div class="flex-row-item">
              <button
                mat-icon-button
                aria-label="Сохранить разделы"
                matTooltip="Сохранить разделы"
                (click)="onSectionsSubmit()"
                [disabled]="
                  sections.invalid || sections.disabled || !sections.dirty
                "
              >
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <form [formGroup]="sections">
        <div
          *ngFor="let section of sections.controls | keyvalue; let i = index"
          style="margin: 50px 0 100px 0"
        >
          <div *ngIf="!section.value.value.deleted; else backSection">
            <mat-card
              title="Раздел {{ i + 1 }} из {{ getSectionsKeys().length }}"
              class="section"
            >
              <div [formGroupName]="section.key">
                <mat-card-content style="margin-bottom: 0px">
                  <p style="margin: 0">
                    <mat-form-field appearance="outline" color="accent">
                      <mat-label>Заголовок</mat-label>
                      <input formControlName="title" matInput />
                      <button
                        mat-icon-button
                        aria-label="Удалить раздел"
                        matTooltip="Удалить раздел"
                        [disabled]="sections.disabled"
                        matSuffix
                        (click)="deleteSection(section.key)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-form-field>
                  </p>
                  <div class="flex-row">
                    <div class="flex-row-item">
                      <p style="margin: 0">
                        <mat-slide-toggle formControlName="showAllQuestions"
                          >Выводить все вопросы</mat-slide-toggle
                        >
                      </p>
                    </div>
                    <div class="flex-row-item">
                      <p style="margin: 0">
                        <mat-slide-toggle formControlName="shuffle"
                          >Перемешивать вопросы</mat-slide-toggle
                        >
                      </p>
                    </div>
                  </div>
                  <p *ngIf="!section.value.value.showAllQuestions">
                    <mat-form-field appearance="outline" color="accent">
                      <mat-label>Количество выводимых вопросов</mat-label>
                      <input
                        matInput
                        type="number"
                        placeholder="2"
                        formControlName="attemptQuestionsNumber"
                        min="1"
                        (input)="
                          setShowAll(
                            section.value.controls.attemptQuestionsNumber,
                            section.value.controls.showAllQuestions
                          )
                        "
                      />
                      <mat-error
                        *ngIf="
                          section.value.controls['attemptQuestionsNumber']
                            .invalid
                        "
                        >{{
                          getErrorMessage(
                            section.value.controls["attemptQuestionsNumber"]
                          )
                        }}</mat-error
                      >
                    </mat-form-field>
                  </p>
                </mat-card-content>
              </div>
            </mat-card>
            <mat-card
              class="question"
              *ngFor="
                let question of section.value.controls.questions.controls
                  | keyvalue;
                let i = index
              "
            >
              <ng-container
                *ngIf="!question.value.value.deleted; else backQuestion"
              >
                <div [formGroup]="question.value">
                  <div class="flex-row-static">
                    <div class="flex-row-static-item" style="width: 50%">
                      <mat-form-field appearance="outline" color="accent">
                        <mat-label>Вид вопроса</mat-label>
                        <mat-select
                          formControlName="type"
                          (selectionChange)="
                            changeQuestionType($event.value, question.value)
                          "
                        >
                          <mat-option [value]="0">Один из</mat-option>
                          <mat-option [value]="1">Множество из</mat-option>
                          <mat-option [value]="2">Сопоставление</mat-option>
                          <!--<mat-option [value]="3">Порядок</mat-option>-->
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div
                      class="flex-row-static-item"
                      style="width: calc(50% - 56px)"
                    >
                      <mat-form-field appearance="outline" color="accent">
                        <mat-label>Баллы</mat-label>
                        <input
                          matInput
                          type="number"
                          placeholder="1"
                          formControlName="cost"
                          min="0"
                        />
                      </mat-form-field>
                    </div>
                    <div
                      class="flex-row-static-icon"
                      style="flex: unset; width: 24px;padding-bottom: 1.34375em;"
                    >
                      <button
                        mat-icon-button
                        [disabled]="sections.disabled"
                        (click)="
                          deleteQuestion(
                            section.value.controls.questions,
                            question.key
                          )
                        "
                        matTooltip="Удалить вопрос"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="flex-row-static" style="align-items: center">
                    <div class="flex-row-static-item">
                      <mat-form-field
                        appearance="outline"
                        class="ignore-mat-field-padding-bottom"
                        color="accent"
                      >
                        <mat-label>Текст</mat-label>
                        <textarea
                          matInput
                          formControlName="text"
                          placeholder="Текст вопроса"
                        ></textarea>
                      </mat-form-field>
                    </div>
                    <div class="flex-row-static-icon">
                      <input
                        #uploadImageInput
                        hidden
                        type="file"
                        (change)="
                          uploadImage($event.target.files, question.value)
                        "
                        accept="image/*, .jpg,.png,.bmp,.gif,.tif,.webp,.heic,.pdf,.jpeg,.tiff,.heif"
                      />
                      <button
                        mat-icon-button
                        [disabled]="
                          question.value.value.imageUrl != null ||
                          sections.disabled
                        "
                        (click)="uploadImageInput.click()"
                        matTooltip="Прикрепить изображение"
                        title="Возможно прикрепить только 1 изображение"
                      >
                        <mat-icon>attach_file</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div
                    *ngIf="question.value.value.imageUrl"
                    class="flex-row-static"
                    style="gap: 8px; margin-top: 8px"
                  >
                    <div class="flex-row-static-item test-img">
                      <img [src]="question.value.value.imageUrl" />
                    </div>
                    <div class="flex-row-static-icon">
                      <div>
                        <a
                          [href]="question.value.value.imageUrl"
                          target="_blank"
                        >
                          <mat-icon
                            matTooltip="Просмотреть изображение"
                            nclass="pointer"
                            >preview</mat-icon
                          >
                        </a>
                      </div>
                      <div>
                        <mat-icon
                          matTooltip="Удалить изображение"
                          (click)="deleteImage(question.value)"
                          class="pointer"
                          >clear</mat-icon
                        >
                      </div>
                    </div>
                  </div>
                  <div>
                    <mat-card-title
                      style="align-items: center; display: flex; margin: 16px 0"
                      >Варианты
                      <button
                        (click)="addOption(question.value)"
                        [disabled]="sections.disabled"
                        mat-icon-button
                        aria-label="Добавить вариант"
                        matTooltip="Добавить вариант"
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                    </mat-card-title>

                    <div [ngSwitch]="question.value.value.type">
                      <div *ngSwitchCase="0">
                        <mat-radio-group
                          (change)="radioChange(question.value, $event.value)"
                        >
                          <div
                            *ngFor="
                              let option of question.value.controls.options
                                .controls;
                              let i = index
                            "
                          >
                            <div
                              class="flex-row-static"
                              style="margin-top: 16px; align-items: center"
                            >
                              <div
                                class="flex-row-static-item"
                                [formGroup]="option"
                              >
                                <div
                                  class="flex-row-static"
                                  style="align-items: center"
                                >
                                  <div class="flex-row-static-icon">
                                    <mat-radio-button
                                      [checked]="option.value.isCorrect"
                                      [value]="i"
                                    ></mat-radio-button>
                                  </div>
                                  <div class="flex-row-static-item">
                                    <mat-form-field
                                      appearance="outline"
                                      class="ignore-mat-field-padding-bottom"
                                      color="accent"
                                    >
                                      <mat-label>Текст</mat-label>
                                      <textarea
                                        matInput
                                        formControlName="text"
                                        placeholder="Текст варианта"
                                      ></textarea>
                                      <input
                                        #uploadImageInput
                                        hidden
                                        type="file"
                                        (change)="
                                          uploadImage(
                                            $event.target.files,
                                            option
                                          )
                                        "
                                        accept="image/*, .jpg,.png,.bmp,.gif,.tif,.webp,.heic,.pdf,.jpeg,.tiff,.heif"
                                      />
                                      <button
                                        matSuffix
                                        mat-icon-button
                                        [disabled]="
                                          option.value.imageUrl != null ||
                                          sections.disabled
                                        "
                                        matTooltip="Прикрепить изображение"
                                        title="Возможно прикрепить только 1 изображение"
                                        (click)="uploadImageInput.click()"
                                      >
                                        <mat-icon>attach_file</mat-icon>
                                      </button>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <div class="flex-row-static-icon">
                                <div class="flex-row-static-icon">
                                  <button
                                    mat-icon-button
                                    matTooltip="Удалить вариант"
                                    [disabled]="sections.disabled"
                                    (click)="
                                      deleteOption(
                                        question.value,
                                        question.value.controls.options,
                                        i
                                      )
                                    "
                                  >
                                    <mat-icon>delete</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div
                              *ngIf="option.value.imageUrl"
                              class="flex-row-static"
                              style="
                                gap: 8px;
                                margin-top: 8px;
                                margin-left: 40px;
                              "
                            >
                              <div class="flex-row-static-item test-img">
                                <img [src]="option.value.imageUrl" />
                              </div>
                              <div class="flex-row-static-icon">
                                <div>
                                  <a
                                    [href]="option.value.imageUrl"
                                    target="_blank"
                                  >
                                    <mat-icon
                                      matTooltip="Просмотреть изображение"
                                      nclass="pointer"
                                      >preview</mat-icon
                                    >
                                  </a>
                                </div>
                                <div>
                                  <mat-icon
                                    matTooltip="Удалить изображение"
                                    (click)="deleteImage(option)"
                                    class="pointer"
                                    >clear</mat-icon
                                  >
                                </div>
                              </div>
                            </div>
                          </div></mat-radio-group
                        >
                      </div>
                      <div *ngSwitchCase="1">
                        <div
                          *ngFor="
                            let option of question.value.controls.options
                              .controls;
                            let i = index
                          "
                        >
                          <div
                            class="flex-row-static"
                            style="margin-top: 16px; align-items: center"
                          >
                            <div
                              class="flex-row-static-item"
                              [formGroup]="option"
                            >
                              <div
                                class="flex-row-static"
                                style="align-items: center"
                              >
                                <div class="flex-row-static-icon">
                                  <mat-checkbox
                                    (change)="checkboxChange(option)"
                                    [checked]="option.value.isCorrect"
                                  ></mat-checkbox>
                                </div>
                                <div class="flex-row-static-item">
                                  <mat-form-field
                                    appearance="outline"
                                    color="accent"
                                    class="ignore-mat-field-padding-bottom"
                                  >
                                    <mat-label>Текст</mat-label>
                                    <textarea
                                      matInput
                                      formControlName="text"
                                      placeholder="Текст варианта"
                                    ></textarea>
                                    <input
                                      #uploadImageInput
                                      hidden
                                      type="file"
                                      (change)="
                                        uploadImage($event.target.files, option)
                                      "
                                      accept="image/*, .jpg,.png,.bmp,.gif,.tif,.webp,.heic,.pdf,.jpeg,.tiff,.heif"
                                    />
                                    <button
                                      matSuffix
                                      mat-icon-button
                                      [disabled]="
                                        option.value.imageUrl != null ||
                                        sections.disabled
                                      "
                                      matTooltip="Прикрепить изображение"
                                      title="Возможно прикрепить только 1 изображение"
                                      (click)="uploadImageInput.click()"
                                    >
                                      <mat-icon>attach_file</mat-icon>
                                    </button>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <div class="flex-row-static-icon">
                              <div class="flex-row-static-icon">
                                <button
                                  mat-icon-button
                                  matTooltip="Удалить вариант"
                                  [disabled]="sections.disabled"
                                  (click)="
                                    deleteOption(
                                      question.value,
                                      question.value.controls.options,
                                      i
                                    )
                                  "
                                >
                                  <mat-icon>delete</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div
                            *ngIf="option.value.imageUrl"
                            class="flex-row-static"
                            style="gap: 8px; margin-top: 8px; margin-left: 40px"
                          >
                            <div class="flex-row-static-item test-img">
                              <img [src]="option.value.imageUrl" />
                            </div>
                            <div class="flex-row-static-icon">
                              <div>
                                <a
                                  [href]="option.value.imageUrl"
                                  target="_blank"
                                >
                                  <mat-icon
                                    matTooltip="Просмотреть изображение"
                                    nclass="pointer"
                                    >preview</mat-icon
                                  >
                                </a>
                              </div>
                              <div>
                                <mat-icon
                                  matTooltip="Удалить изображение"
                                  (click)="deleteImage(option)"
                                  class="pointer"
                                  >clear</mat-icon
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="2">
                        <div
                          class="flex-row-static"
                          style="margin-top: 16px; align-items: center"
                          *ngFor="
                            let option of question.value.controls.options
                              .controls;
                            let i = index
                          "
                        >
                          <div
                            class="flex-row-static-item"
                            [formGroup]="option"
                          >
                            <div class="flex-row">
                              <div class="flex-row-item">
                                <mat-form-field
                                  appearance="outline"
                                  color="accent"
                                  class="ignore-mat-field-padding-bottom"
                                >
                                  <mat-label>Что сравнивается</mat-label>
                                  <textarea
                                    matInput
                                    formControlName="leftText"
                                    placeholder="Текст предмета сравнения"
                                  ></textarea>
                                  <input
                                    #uploadLeftImageInput
                                    hidden
                                    type="file"
                                    (change)="
                                      uploadImage(
                                        $event.target.files,
                                        option,
                                        2,
                                        false
                                      )
                                    "
                                    accept="image/*, .jpg,.png,.bmp,.gif,.tif,.webp,.heic,.pdf,.jpeg,.tiff,.heif"
                                  />
                                  <button
                                    matSuffix
                                    mat-icon-button
                                    [disabled]="
                                      option.value.leftImageUrl != null ||
                                      sections.disabled
                                    "
                                    matTooltip="Прикрепить изображение"
                                    title="Возможно прикрепить только 1 изображение"
                                    (click)="uploadLeftImageInput.click()"
                                  >
                                    <mat-icon>attach_file</mat-icon>
                                  </button>
                                </mat-form-field>
                                <div
                                  *ngIf="option.value.leftImageUrl"
                                  class="flex-row-static"
                                  style="gap: 8px; margin-top: 8px"
                                >
                                  <div class="flex-row-static-item test-img">
                                    <img [src]="option.value.leftImageUrl" />
                                  </div>
                                  <div class="flex-row-static-icon">
                                    <div>
                                      <a
                                        [href]="option.value.leftImageUrl"
                                        target="_blank"
                                      >
                                        <mat-icon
                                          matTooltip="Просмотреть изображение"
                                          nclass="pointer"
                                          >preview</mat-icon
                                        >
                                      </a>
                                    </div>
                                    <div>
                                      <mat-icon
                                        matTooltip="Удалить изображение"
                                        (click)="deleteImage(option, 2, false)"
                                        class="pointer"
                                        >clear</mat-icon
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="flex-row-item">
                                <mat-form-field
                                  appearance="outline"
                                  color="accent"
                                  class="ignore-mat-field-padding-bottom"
                                >
                                  <mat-label>С чем сравнивается</mat-label>
                                  <textarea
                                    matInput
                                    formControlName="rightText"
                                    placeholder="Текст образа сравнения"
                                  ></textarea>
                                  <input
                                    #uploadRightImageInput
                                    hidden
                                    type="file"
                                    (change)="
                                      uploadImage(
                                        $event.target.files,
                                        option,
                                        2,
                                        true
                                      )
                                    "
                                    accept="image/*, .jpg,.png,.bmp,.gif,.tif,.webp,.heic,.pdf,.jpeg,.tiff,.heif"
                                  />
                                  <button
                                    matSuffix
                                    mat-icon-button
                                    [disabled]="
                                      option.value.rightImageUrl != null ||
                                      sections.disabled
                                    "
                                    matTooltip="Прикрепить изображение"
                                    title="Возможно прикрепить только 1 изображение"
                                    (click)="uploadRightImageInput.click()"
                                  >
                                    <mat-icon>attach_file</mat-icon>
                                  </button>
                                </mat-form-field>
                                <div
                                  *ngIf="option.value.rightImageUrl"
                                  class="flex-row-static"
                                  style="gap: 8px; margin-top: 8px"
                                >
                                  <div class="flex-row-static-item test-img">
                                    <img [src]="option.value.rightImageUrl" />
                                  </div>
                                  <div class="flex-row-static-icon">
                                    <div>
                                      <a
                                        [href]="option.value.rightImageUrl"
                                        target="_blank"
                                      >
                                        <mat-icon
                                          matTooltip="Просмотреть изображение"
                                          nclass="pointer"
                                          >preview</mat-icon
                                        >
                                      </a>
                                    </div>
                                    <div>
                                      <mat-icon
                                        matTooltip="Удалить изображение"
                                        (click)="deleteImage(option, 2, true)"
                                        class="pointer"
                                        >clear</mat-icon
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="flex-row-static-icon">
                            <div class="flex-row-static-icon">
                              <button
                                mat-icon-button
                                matTooltip="Удалить вариант"
                                [disabled]="sections.disabled"
                                (click)="
                                  deleteOption(
                                    question.value,
                                    question.value.controls.options,
                                    i
                                  )
                                "
                              >
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div *ngSwitchCase="3">3</div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-template #backQuestion>
                <div
                  (click)="undoDelete(question.value)"
                  class="flex-row-static pointer"
                  style="align-items: center"
                >
                  <div class="flex-row-static-icon" style="height: 24px">
                    <mat-icon>undo</mat-icon>
                  </div>
                  <div class="flex-row-static-item">Вернуть вопрос</div>
                </div>
              </ng-template>
            </mat-card>
            <p class="text-center">
              <button
                mat-stroked-button
                [disabled]="sections.disabled"
                (click)="addQuestion(section.value.controls.questions)"
              >
                Добавить вопрос
              </button>
            </p>
          </div>
          <ng-template #backSection>
            <mat-card>
              <div
                (click)="undoDelete(section.value)"
                class="flex-row-static pointer"
                style="align-items: center"
              >
                <div class="flex-row-static-icon" style="height: 24px">
                  <mat-icon>undo</mat-icon>
                </div>
                <div class="flex-row-static-item">Вернуть раздел</div>
              </div>
            </mat-card>
          </ng-template>
        </div>
        <p class="text-center" style="margin-top: 50px">
          <button
            mat-stroked-button
            (click)="addSection()"
            [disabled]="sections.disabled"
          >
            Добавить раздел
          </button>
        </p>
        <p class="text-center">
          <button
            mat-raised-button
            color="primary"
            disabled
            (click)="onSectionsSubmit()"
            [disabled]="
              sections.invalid || sections.disabled || !sections.dirty
            "
          >
            Сохранить разделы
          </button>
        </p>
      </form>
    </ng-container>
    <ng-template #loading>
      <mat-spinner class="loading"></mat-spinner>
    </ng-template>
  </div>
</div>
