<div class="text-center">
  <div class="under-header">
    <div class="under-header-left"><h3>Тесты</h3></div>
    <div class="under-header-right">
      <button
        routerLink="../test/create"
        mat-mini-fab
        color="primary"
        aria-label="Создать новый тест"
        matTooltip="Создать новый тест"
        matTooltipPosition="left"
        #tooltip="matTooltip"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="tests; else loading">
    <div *ngIf="tests.length; else noTests">
      <mat-card class="tests-line" *ngFor="let test of tests">
        <div class="tests-line-left">{{ test.title }}</div>

        <div class="tests-line-right">
          <mat-icon
            matTooltip="Удалить тест"
            class="pointer room-action-icon"
            (click)="deleteTest(test)"
            >delete</mat-icon
          >
          <mat-icon
            matTooltip="Изменить тест"
            class="pointer room-action-icon"
            [routerLink]="['../test', 'edit', test.id]"
            >settings</mat-icon
          >
        </div>
      </mat-card>
    </div>
    <ng-template #noTests>
      <div class="text-center white">В комнате ещё нет тестов</div>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="loading text-center"></mat-spinner>
  </ng-template>
</div>
