<mat-card class="auth-card">
  <mat-card-title>Регистрация</mat-card-title>
  <mat-card-content>
    <div class="auth-container">
      <p>
        <mat-form-field class="auth-field" appearance="fill" color="accent">
          <mat-label>Введите имя</mat-label>
          <input
            matInput
            placeholder="Иванов Иван Иванович"
            [formControl]="name"
            required
          />
          <mat-error *ngIf="name.invalid">{{
            getErrorMessageName()
          }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="auth-field" appearance="fill" color="accent">
          <mat-label>Введите e-mail</mat-label>
          <input
            matInput
            placeholder="aqo@example.ru"
            [formControl]="email"
            required
          />
          <mat-error *ngIf="email.invalid">{{
            getErrorMessageEmail()
          }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="auth-field" appearance="fill" color="accent">
          <mat-label>Введите пароль</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="passwd"
            required
          />
          <mat-error *ngIf="passwd.invalid">{{
            getErrorMessagePasswd()
          }}</mat-error>
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Скрыть пароль'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="auth-field" appearance="fill" color="accent">
          <mat-label>Повторите пароль</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="repeatPasswd"
            required
          />
          <mat-error *ngIf="repeatPasswd.invalid">{{
            getErrorMessageRepeatPasswd()
          }}</mat-error>
        </mat-form-field>
      </p>
      <div class="login-action">
        <div>
          <button
            mat-flat-button
            [disabled]="
              email.invalid ||
              passwd.invalid ||
              repeatPasswd.invalid
            "
          >
            Создать
          </button>
        </div>
        <div>
          <a routerLink="/auth/login">Войти</a><br />
          <a routerLink="/auth/reduction">Забыли пароль?</a>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
