<app-navbar></app-navbar>
<div class="rooms-conteiner">
  <div class="rooms-header">
    <table>
      <tr>
        <td><h1>Комнаты</h1></td>
        <td class="rooms-header-action">
          <button
            routerLink="/room/create"
            mat-mini-fab
            color="primary"
            aria-label="Создать новую комнату"
            matTooltip="Создать новую комнату"
          >
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <ng-container *ngIf="rooms; else loading" class="rooms-conteiner">
    <div *ngFor="let room of rooms" class="room-content">
      <mat-card>
        <div class="room-info">
          <div class="room-info-name pointer">
            <span matTooltip="Перейти в комнату">{{ room.name }}</span>
          </div>
          <div class="room-info-domain">
            <span matTooltip="Открыть в новой владке">
              <a
                class="clip"
                target="_blank"
                [href]="'https://' + room.domain + '.aqotesting.tk'"
                >{{ room.domain }}.aqotesting.tk</a
              >
            </span>
          </div>
        </div>
        <div class="room-action">
          <mat-icon
            (click)="deleteRoom(room)"
            matTooltip="Удалить комнату"
            class="pointer room-action-icon"
            >delete</mat-icon
          >
          <mat-icon
            matTooltip="Изменить комнату"
            class="pointer room-action-icon"
            >settings</mat-icon
          >
          <div class="divider"></div>
          <mat-icon
            matTooltip="Перейти в комнату"
            class="pointer room-action-icon"
            >keyboard_tab</mat-icon
          >
        </div>
      </mat-card>
    </div>

    <div *ngIf="!rooms.length" class="room-content text-center">
      <mat-card>У Вас нет комнат</mat-card>
    </div>
  </ng-container>
  <ng-template #loading>
    <mat-spinner style="margin: 50px auto"></mat-spinner>
  </ng-template>
</div>
