<app-navbar></app-navbar>
<div class="rooms-conteiner">
  <div class="rooms-header">
    <table>
      <tr>
        <td><h1>Комнаты</h1></td>
        <td class="rooms-header-action">
          <button
            routerLink="/room/create"
            mat-mini-fab
            color="primary"
            aria-label="Создать новую комнату"
            matTooltip="Создать новую комнату"
          >
            <mat-icon>add</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <ng-container *ngIf="rooms; else loading" class="rooms-conteiner">
    <div *ngFor="let room of rooms" class="room-content">
      <mat-card [routerLink]="['/room/', room.id]" class="pointer" style="display: flex;align-items: center;">
        <div class="room-info">
          <div class="room-info-name pointer">
            <span>{{ room.name }}</span>
          </div>
          <div class="room-info-domain">
            <span>
              <a
                class="clip"
                target="_blank"
                [href]="'https://' + room.domain + '.' + env.domain"
                matTooltip="Открыть в новой владке"
                style="width: fit-content"
                >{{ room.domain }}.aqotesting.tk</a
              >
            </span>
          </div>
        </div>
        <div class="room-action">
          <button
            (click)="deleteRoom(room)"
            mat-icon-button
            aria-label="Удалить комнату"
            matTooltip="Удалить комнату"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <button
            [routerLink]="['/room/edit/', room.id]"
            mat-icon-button
            aria-label="Изменить комнату"
            matTooltip="Изменить комнату"
          >
            <mat-icon>settings</mat-icon>
          </button>
          <div class="divider"></div>
          <button
            [routerLink]="['/room/', room.id]"
            mat-icon-button
            aria-label="Перейти в комнату"
            matTooltip="Перейти в комнату"
          >
            <mat-icon>keyboard_tab</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>

    <div *ngIf="!rooms.length" class="room-content text-center white">
      У Вас ещё нет комнат
    </div>
  </ng-container>
  <ng-template #loading>
    <mat-spinner class="loading"></mat-spinner>
  </ng-template>
</div>
