$background-color: #303030;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: $background-color;
}

a {
  color: #ce93d8;
}

.pointer {
  cursor: pointer;
}

.divider {
  margin-left: 14px;
  border-left: 1px solid #303030;
  display: inline-block;
  height: 24px;
}

.clip {
  display: block;
  margin-bottom: -3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spacer {
  flex: 1 1 auto;
}

.text-center {
  text-align: center;
}